@model IEnumerable<HousingAdvertisement>
@{
    ViewData["Title"] = "İlanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>İlanlar</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link rel="stylesheet" href="~/css/Card.css" />
</head>
<body>
    <div class="container">
        <div class="row" style="min-width:300px">
            <div class="col-md-8">
                <!-- Sol üst köşede filtreleme seçenekleri -->
                <h3>Filtreleme</h3>
@*                 <div class="form-group">
                    <label for="housingType">Konut Türü:</label>
                    <select id="housingType" name="housingType" class="form-control">
                        <option value="">Tüm Konut Türleri</option>
                        @foreach (var housingType in Model.HousingTypes)
                        {
                            <option value="@housingType.Id">@housingType.Name</option>
                        }
                    </select>
                </div> *@
                <div class="form-group">
                    <label for="city">İl:</label>
                    <select id="city" name="city" class="form-control">
                        <option value="">Seçiniz</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="district">İlçe:</label>
                    <select id="district" name="district" class="form-control">
                        <option value="">Seçiniz</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="minPrice">Min Fiyat:</label>
                    <input type="number" id="minPrice" name="minPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label for="maxPrice">Max Fiyat:</label>
                    <input type="number" id="maxPrice" name="maxPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label for="minSquareMeter">En Az Metrekare:</label>
                    <input type="number" id="minSquareMeter" name="minSquareMeter" class="form-control">
                </div>
                <div class="form-group">
                    <label for="maxSquareMeter">En Çok Metrekare:</label>
                    <input type="number" id="maxSquareMeter" name="maxSquareMeter" class="form-control">
                </div>
@*                 <div class="form-group">
                    <label for="numberOfRoomHall">Oda ve Salon Sayısı:</label>
                    <select id="numberOfRoomHall" name="numberOfRoomHall" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.NumberOfRoomHalls)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberOfBathroom">Banyo Sayısı:</label>
                    <select id="numberOfBathroom" name="numberOfBathroom" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.NumberOfBathrooms)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="buildingAge">Bina Yaşı:</label>
                    <select id="buildingAge" name="buildingAge" class="form-control">
                        <option value="">Tüm Yaşlar</option>
                        @foreach (var age in Model.BuildingAges)
                        {
                            <option value="@age.Id">@age.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="floorLocation">Kat Konumu:</label>
                    <select id="floorLocation" name="floorLocation" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.FloorLocations)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="numberOfFloorsInBuilding">Bina Kat Sayısı:</label>
                    <select id="numberOfFloorsInBuilding" name="numberOfFloorsInBuilding" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.NumberOfFloorsInBuildings)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="creditEligibility">Kredi Uygunluğu:</label>
                    <select id="creditEligibility" name="creditEligibility" class="form-control">
                        <option value="">Tümü</option>
                        <option value="true">Evet</option>
                        <option value="false">Hayır</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="deedStatus">Tapu Durumu:</label>
                    <select id="deedStatus" name="deedStatus" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.DeedStatuses)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="usageStatus">Kullanım Durumu:</label>
                    <select id="usageStatus" name="usageStatus" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.UsageStatuses)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="heatingType">Isınma Tipi:</label>
                    <select id="heatingType" name="heatingType" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.HeatingTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="isFurnished">Eşyalı Durumu:</label>
                    <select id="isFurnished" name="isFurnished" class="form-control">
                        <option value="true">Eşyalı</option>
                        <option value="false">Eşyasız</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="isOnSite">Site İçinde</label>
                    <select id="isOnSite" name="isOnSite" class="form-control">
                        <option value="true">Evet</option>
                        <option value="false">Hayır</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="facade">Cephe Türü:</label>
                    <select id="facade" name="facade" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.Fades)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="suitableForTrade">Takas İçin Uygun Mu?</label>
                    <select id="suitableForTrade" name="suitableForTrade" class="form-control">
                        <option value="true">Evet</option>
                        <option value="false">Hayır</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="dateOfAdvertisement">İlan Tarihi:</label>
                    <select id="dateOfAdvertisement" name="dateOfAdvertisement" class="form-control">
                        <option value="">Seçiniz</option>
                        @foreach (var item in Model.DateOfAdvertisements)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div> *@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="width:100%; text-align:center">İlanlar</h3>
                <div class="ad-list" style="width:calc(100vw - 450px)">

                    @foreach (var item in Model)
                    {
                        <div class="card-container">
                            <div class="img-cont">
                                @{
                                    var mainImage = item.HousingAdvertisementPhotos.FirstOrDefault(img => img.Id == item.MainImageId);
                                    <a asp-action="Detail" asp-controller="HousingAdvertisement" asp-route-id="@item.Id">
                                        <img src="@Url.Content("~/images/HousingAdvertisements/" + mainImage.FilePath)" alt="@item.Title" />
                                    </a>
                                }

                            </div>
                            <div class="card-content">
                                <h1 class="price-title">
                                    @item.Price
                                    <span>TL</span>
                                </h1>
                                <p class="head-title">@item.Title</p>
                                <ul>
                                    @if (item.IsForSale)
                                    {
                                        <li> Satılık </li>
                                    }
                                    else
                                    {
                                        <li> Kiralık</li>
                                    }
                                    <li>@item.RoomNumber + @item.HallNumber</li>
                                    <li>@item.GrossSquareMeters m²</li>
                                    <li>@item.FloorNumber .kat</li>
                                </ul>
                                <p class="location">@item.City.Name / @item.District.Name</p>
                                <div class="bottom-cont">
                                    <p class="show-phone">@item.Agent.PhoneNumber</p>
                                    <div class="company-name">
                                        <p>@item.Agent.CompanyName</p>
                                        <p>@item.Agent.Name @item.Agent.Surname </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>



        @*  <div class="ad-list">
        @foreach (var item in Model.HousingAdvertisements)
        {
        <div class="ad-item" onclick="openAdDetail('@item.Id')">
        <div class="card" style="width: 60rem; height:14rem;">
        <div class="row">
        <div class="col-md-4">
        <img src="" alt="İlan Görseli" class="img-fluid">
        </div>
        <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">
        @if (item.IsForSale)
        {
        <span class="text-success">Satılık</span>
        }
        else
        {
        <span class="text-info">Kiralık</span>
        }
        </h5>
        <p class="card-text">@item.Title</p>
        <p>Oda ve Salon: @item.RoomNumber + @item.HallNumber</p>
        <p>Brüt Metrekare: @item.GrossSquareMeters m²</p>
        <p>Bina Yaşı: @item.Agent</p>
        <p>Kat Konumu: @item.FloorLocation.Name</p>

        <p>Fiyat: @item.Price TL</p>
        </div>
        </div>
        </div>
        </div>
        </div>
        }
        </div> *@



    </div>
</body>
</html>

@*  function openAdDetail(adId) {
    // İlgili ilanın detay sayfasına yönlendirme işlemi
    window.location.href = '/Ad/Detail/' + adId; // Detay sayfa URL'si burada belirtmelisiniz
} *@
