@model Tuple<IEnumerable<HousingAdvertisement>, EmlakOfisiSitesi.ViewModels.EmlakFiltreViewModel>
@{
    ViewData["Title"] = "İlanlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>İlanlar</title>
    <link rel="stylesheet" href="~/css/HomePage.css" />
    <link rel="stylesheet" href="~/css/Card.css" />
</head>
<body>
    <div class="container">
        <div class="row" style="min-width:300px">
            <div class="col-md-11">
                <form asp-action="List" asp-controller="Home" style="margin-bottom:15px;margin-top:15px">
                    <h3>Filtreleme</h3>
                    <div class="form-group">
                        <label>Konum</label>
                        <select asp-for="Item2.CityId" name="CityId" asp-items="@(new SelectList(Model.Item2.Cities, "Value", "Text"))" class="form-control">
                            <option>İl Seçiniz</option>
                        </select>
                        <br />
                        <select asp-for="Item2.DistrictId" name="DistrictId" asp-items="@(new SelectList(Model.Item2.Districts, "Value", "Text"))" class="form-control">
                            <option>İlçe Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>İlan Tipi</label>
                        <select name="SelectedIsSale" asp-for="Item2.SelectedIsSale" class="form-control">
                            <option value="all">Tümü</option>
                            <option value="true">Satılık</option>
                            <option value="false">Kiralık</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Konut Tipi</label>
                        <select name="HousingTypeId" asp-for="Item2.HousingTypeId" asp-items="@(new SelectList(Model.Item2.HousingTypes, "Value", "Text"))" class="form-control">
                            <option>Konut Tipi Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Fiyat</label>
                        <div class="d-flex">
                            <input type="number" name="MinPrice" class="form-control mr-2" placeholder="En Az">
                            <input type="number" name="MaxPrice" class="form-control" placeholder="En Çok">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Brüt Metrekare</label>
                        <div class="d-flex">
                            <input type="number" name="MinSquareMeters" class="form-control mr-2" placeholder="En Az m²">
                            <input type="number" name="MaxSquareMeters" class="form-control" placeholder="En Çok m²">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Oda Salon Sayısı</label>
                        <select name="NumberOfRoomHallId" asp-for="Item2.NumberOfRoomHallId" asp-items="@(new SelectList(Model.Item2.NumberOfRoomHalls, "Value", "Text"))" class="form-control">
                            <option>Oda Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Banyo Sayısı</label>
                        <select name="NumberOfBathroomId" asp-for="Item2.NumberOfBathroomId" asp-items="@(new SelectList(Model.Item2.NumberOfBathrooms, "Value", "Text"))" class="form-control">
                            <option>Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Bina Yaşı</label>
                        <select name="BuildingAgeId" asp-for="Item2.BuildingAgeId" asp-items="@(new SelectList(Model.Item2.BuildingAges, "Value", "Text"))" class="form-control">
                            <option>Bina Yaşı</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Bulunduğu Kat</label>
                        <select name="FloorLocationId" asp-for="Item2.FloorLocationId" asp-items="@(new SelectList(Model.Item2.FloorLocations, "Value", "Text"))" class="form-control">
                            <option>Kat Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Binadaki Kat Sayısı</label>
                        <select name="NumberOfFloorsInBuildingId" asp-for="Item2.NumberOfFloorsInBuildingId" asp-items="@(new SelectList(Model.Item2.NumberOfFloorsInBuildings, "Value", "Text"))" class="form-control">
                            <option>Kat Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Krediye Uygunluk</label>
                        <select name="SelectedIsCreditEligibility" asp-for="Item2.SelectedIsCreditEligibility" class="form-control">
                            <option value="all">Tümü</option>
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Tapu Durumu</label>
                        <select name="DeedStatusId" asp-for="Item2.DeedStatusId" asp-items="@(new SelectList(Model.Item2.DeedStatuses, "Value", "Text"))" class="form-control">
                            <option>Tapu Durumu Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Kullanım Durumu</label>
                        <select name="UsageStatusId" asp-for="Item2.UsageStatusId" asp-items="@(new SelectList(Model.Item2.UsageStatuses, "Value", "Text"))" class="form-control">
                            <option>Kullanım Durumu Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Isınma Tipi</label>
                        <select name="HeatingTypeId" asp-for="Item2.HeatingTypeId" asp-items="@(new SelectList(Model.Item2.HeatingTypes, "Value", "Text"))" class="form-control">
                            <option>Isınma Tipi Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Eşya Durumu</label>
                        <select name="SelectedIsFurnished" asp-for="Item2.SelectedIsFurnished" class="form-control">
                            <option value="all">Tümü</option>
                            <option value="true">Eşyalı</option>
                            <option value="false">Eşyasız</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Site İçinde</label>
                        <select name="SelectedIsOnSite" asp-for="Item2.SelectedIsOnSite" class="form-control">
                            <option value="all">Tümü</option>
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Cephe</label>
                        <select name="FacadeId" asp-for="Item2.FacadeId" asp-items="@(new SelectList(Model.Item2.Facades, "Value", "Text"))" class="form-control">
                            <option>Cephe Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Takasa Uygun</label>
                        <select name="SelectedIsSuitableForTrade" asp-for="Item2.SelectedIsSuitableForTrade" class="form-control">
                            <option value="all">Tümü</option>
                            <option value="true">Evet</option>
                            <option value="false">Hayır</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateOfAdvertisement">İlan Tarihi</label>
                        <select name="DateOfAdvertisementId" asp-for="Item2.DateOfAdvertisementId" asp-items="@(new SelectList(Model.Item2.DateOfAdvertisements, "Value", "Text"))" class="form-control">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success" style="width:100%">Filtrele</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 style="width:100%; text-align:center">İlanlar</h3>
                <div class="ad-list" style="width:calc(100vw - 450px)">
                    @foreach (var item in Model.Item1)
                    {
                        <div class="card-container">
                            <div class="img-cont">
                                @{
                                    var mainImage = item.HousingAdvertisementPhotos.FirstOrDefault(img => img.Id == item.MainImageId);
                                    <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id">
                                        <img src="@Url.Content("~/images/HousingAdvertisements/" + mainImage.FilePath)" alt="@item.Title" />
                                    </a>
                                }
                            </div>
                            <div class="card-content">
                                <h1 class="price-title">
                                    @string.Format("{0:N0} ₺", item.Price)
                                </h1>
                                <p class="head-title">@item.Title</p>
                                <ul>
                                    @if (item.IsForSale)
                                    {
                                        <li> Satılık </li>
                                    }
                                    else
                                    {
                                        <li> Kiralık</li>
                                    }
                                    <li>@item.RoomNumber + @item.HallNumber</li>
                                    <li>@item.GrossSquareMeters m²</li>
                                    <li>@item.FloorLocation.Name</li>
                                </ul>
                                <p class="location">@item.City.Name / @item.District.Name</p>
                                <div class="bottom-cont">
                                    <p>@item.Agent.PhoneNumber</p>
                                    <div class="company-name">
                                        <p>Şirket İsmi : @item.Agent.CompanyName</p>
                                        <p>Ad Soyad : @item.Agent.Name @item.Agent.Surname </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
