@model HousingAdvertisementViewModel
@{
    ViewData["Title"] = "Kiralık Konut İlanı Oluştur";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}

<form asp-action="CreateRent" asp-controller="HousingAdvertisement" style="margin-bottom:15px;margin-top:15px" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6" style="margin-bottom:15px">
            <label>İlan Başlığı<span style="color:red">*</span></label>
            <input type="text" asp-for="Title" class="form-control" placeholder="İlan Başlığı" required>
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>İlan Açıklaması<span style="color:red">*</span></label>
            <textarea rows="4" asp-for="Description" class="form-control" required>

            </textarea>
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Fiyat<span style="color:red">*</span></label>
            <input type="text" asp-for="Price" class="form-control" placeholder="Fiyat" required>
            <span asp-validation-for="Price" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Oda Sayısı<span style="color:red">*</span></label>
            <input type="text" asp-for="RoomNumber" class="form-control" placeholder="Oda Sayısı" required>
            <span asp-validation-for="RoomNumber" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Salon Sayısı<span style="color:red">*</span></label>
            <input type="text" asp-for="HallNumber" class="form-control" placeholder="Salon Sayısı" required>
            <span asp-validation-for="HallNumber" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Banyo Sayısı<span style="color:red">*</span></label>
            <input type="text" asp-for="BathroomNumber" class="form-control" placeholder="Banyo Sayısı" required>
            <span asp-validation-for="BathroomNumber" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Bürüt Metre Kare<span style="color:red">*</span></label>
            <input type="text" asp-for="GrossSquareMeters" class="form-control" placeholder="Bürüt Metre Kare" required>
            <span asp-validation-for="GrossSquareMeters" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Net Metre Kare<span style="color:red">*</span></label>
            <input type="text" asp-for="NetSquareMeters" class="form-control" placeholder="Net Metre Kare" required>
            <span asp-validation-for="NetSquareMeters" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Bina Yaşı<span style="color:red">*</span></label>
            <input type="text" asp-for="BuildingAge" class="form-control" placeholder="Bina Yaşı" required>
            <span asp-validation-for="BuildingAge" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Kat Sayısı<span style="color:red">*</span></label>
            <input type="text" asp-for="FloorNumber" class="form-control" placeholder="Kat Sayısı" required>
            <span asp-validation-for="FloorNumber" style="color:red"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <label>Bulunduğu Kat<span style="color:red">*</span></label>
            <select asp-for="FloorLocationId" asp-items="@(new SelectList(Model.FloorLocations, "Value", "Text"))" class="form-control" data-placeholder="Bulunduğu Kat" required>
                <option value="">-- Bulunduğu Katı Seçin --</option>
            </select>
            <span asp-validation-for="FloorLocationId" class="text-danger"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <label>Konut Tipi<span style="color:red">*</span></label>
            <select asp-for="HousingTypeId" asp-items="@(new SelectList(Model.HousingTypes, "Value", "Text"))" class="form-control" data-placeholder="Konut Tipi" required>
                <option value="">-- Konut Tipi Seçin --</option>
            </select>
            <span asp-validation-for="HousingTypeId" class="text-danger"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <label>Isınma Tipi<span style="color:red">*</span></label>
            <select asp-for="HeatingTypeId" asp-items="@(new SelectList(Model.HeatingTypes, "Value", "Text"))" class="form-control" data-placeholder="Isınma Tipi" required>
                <option value="">-- Isınma Tipi Seçin --</option>
            </select>
            <span asp-validation-for="HeatingTypeId" class="text-danger"></span>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Aidat</label>
            <input type="text" asp-for="Dues" class="form-control" placeholder="Aidat">
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Depozito</label>
            <input type="text" asp-for="Deposit" class="form-control" placeholder="Deposit">
        </div>

        <div class="col-md-6" style="margin-bottom:15px">
            <label>Eşyalı Durumu</label>
            <select id="IsFurnished" name="IsFurnished" class="form-control">
                <option value="" selected="selected">Belirtilmemiş</option>
                <option value="true">Eşyalı</option>
                <option value="false">Eşyasız</option>
            </select>
        </div>
        <div class="col-md-6" style="margin-bottom:15px">
            <label>Site İçinde</label>
            <select id="IsOnSite" name="IsOnSite" class="form-control">
                <option value="" selected="selected">Belirtilmemiş</option>
                <option value="true">Evet</option>
                <option value="false">Hayır</option>
            </select>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <label>Kullanım Durumu</label>
            <select asp-for="UsageStatusId" asp-items="@(new SelectList(Model.UsageStatues, "Value", "Text"))" class="form-control" data-placeholder="Kullanım Durumu">
                <option value="">Belirtilmemiş</option>
            </select>
            </select>
        </div>
        <div class="col-md-6" style="margin-bottom:15px;">
            <label>Cephe</label>
            <select asp-for="FacadeId" asp-items="@(new SelectList(Model.Facades, "Value", "Text"))" class="form-control" data-placeholder="Cephe">
                <option value="">Belirtilmemiş</option>
            </select>
        </div>
        <div action="col-md-12" style="margin-bottom:15px;margin-left:15px;margin-right:15px;width:100%;">
            <label>İl<span style="color:red">*</span></label>
            <select asp-for="CityId" asp-items="@(new SelectList(Model.Cities, "Value", "Text"))" class="form-control" data-placeholder="İl Seçin" required>
                <option value="">-- İl Seçin --</option>
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <div action="col-md-12" style="margin-bottom:15px;margin-left:15px;margin-right:15px;width:100%;">
            <label>İlçe<span style="color:red">*</span></label>
            <select asp-for="DistrictId" asp-items="@(new SelectList(Model.Districts, "Value", "Text"))" class="form-control" data-placeholder="İlçe Seçin" required>
                <option value="">-- İlçe Seçin --</option>
            </select>
            <span asp-validation-for="DistrictId" class="text-danger"></span>
        </div>
        <div class="col-md-12" style="margin-bottom:15px">
            <label>Adres<span style="color:red">*</span></label>
            <textarea rows="4" asp-for="Address" class="form-control" required>

            </textarea>
            <span asp-validation-for="Address" style="color:red"></span>
        </div>
        <div class="col-md-12" style="margin-bottom:15px">
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" asp-for="HousingAdvertisementPhotos" multiple required>
                <label class="input-group-text" for="inputGroupFile02">Yükle<span style="color:red">*</span></label>
                <span asp-validation-for="HousingAdvertisementPhotos" style="color:red"></span>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success" style="width:100%">Yayınla</button>
        </div>
    </div>
</form>



